version: "3.9"

services:
  api:
    build: .
    command: node server.js
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - redis

  worker:
    build: .
    command: node jobs/reservation.worker.js
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"
